<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Add permission for accessing the camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/coffee"
        android:label="Reach Coffee Shop"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReachCoffeeShop"
        tools:targetApi="31">
        <activity
            android:name="com.pennareach.sethcoffeeshop.message"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.paydone"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.payment"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.fruit"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.start"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.profile"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.finalPay"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.description"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.post"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.navigation"
            android:exported="false" />
        <activity
            android:name="com.pennareach.sethcoffeeshop.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>